<%- include('../partials/header') %>


    <div class="text-center">
        <h1>Meal Details for <%= meal.date.toISOString().slice(0, 10) %>
        </h1>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Breakfast:</th>
                <td>
                    <%= meal.breakfast %>
                </td>
                <td>
                    <%= meal.breakfastCals %> Calories
                </td>
            </tr>
            <tr>
                <th>Lunch:</th>
                <td>
                    <%= meal.lunch %>
                </td>
                <td>
                    <%= meal.lunchCals %> Calories
                </td>
            </tr>
            <tr>
                <th>Dinner:</th>
                <td>
                    <%= meal.dinner %>
                </td>
                <td>
                    <%= meal.dinnerCals %> Calories
                </td>
            </tr>
            <tr>
                <th>Snack(s):</th>
                <td>
                    <%= meal.snacks %>
                </td>
                <td>
                    <%= meal.snackCals %> Calories
                </td>
            </tr>
        </table>
        <a href="/meals/<%= meal._id %>/edit">Add/Edit Meals</a><br><br>
    </div>



    <% let totalCalories = meal.breakfastCals + meal.lunchCals + meal.dinnerCals + meal.snackCals %>



        <div id="float1" class="card chart-container">
            <canvas id="chart1"></canvas>
            <div class="text-center">
                <%= totalCalories %> Calories
            </div>
        </div>
        <div id="float2" class="card chart-container">
            <canvas id="chart2"></canvas>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>



        <script>
            const ctx1 = document.getElementById("chart1").getContext('2d');
            const myChart1 = new Chart(ctx1, {
                type: 'pie',
                data: {
                    labels: ["Breakfast Calories", "Lunch Calories", "Dinner Calories", "Snack Calories"],
                    datasets: [{
                        label: 'food Items',
                        backgroundColor: ["#0074D9", "#FF4136", "#2ECC40",
                            "#FF851B"],
                        data: [<%= meal.breakfastCals %>,<%= meal.lunchCals %>,<%= meal.dinnerCals %>,<%= meal.snackCals %>],
                    }]
                },
            });
            const ctx2 = document.getElementById("chart2").getContext('2d');
            const myChart2 = new Chart(ctx2, {
                type: 'doughnut',
                data: {
                    labels: ["Proteins", "Carbs", "Fats"],
                    datasets: [{
                        label: 'food Items',
                        data: [170, 222, 58], //Hard coded numbers for now
                        backgroundColor: ["#7FDBFF", "#B10DC9", "#001f3f"]
                    }]
                },
            });
        </script>

        <%- include('../partials/footer') %>